*{
    margin: 0;
    
}
a{
    text-decoration: none;
}
.logo{
    width: 115px;
    height: 63px;
    margin: 15px;
    margin-left: 100px;
}
nav{ background-color: white;
    display: flex;
    justify-content: space-between;
}
.liens-nav{
list-style: none;
color: black;
display: flex;
gap: 15px;
flex-direction: row;
}
.li-nav{
    color: black;
    margin-top: 40px;
    margin-right: 50px;
    font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
}
.li-nav :hover {
    text-decoration: underline;
}
.hero{
    background-image: linear-gradient(#000000ab, #000000c9, #0000009e),
     url(../assets/architecte-interieur/projets/devanture-boutique.jpg); url(../assets/architecte-interieur/projets/devanture-boutique.jpg);
   padding-block: 47vh;
    background-size: cover;
}

.h2-nom{
     background: rgba(26, 8, 8, 0.08);
    backdrop-filter: blur(8px);
    color: rgb(0, 0, 0);
    padding: 18px 0;
    text-align: center;
    padding: 30px;
    font-size: 26px;
    letter-spacing: 2px;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    
}
.container{
    max-width: 1080px;
    color: white;
    margin: auto;
    text-align: center;
}

.titre-principale{
     font-family: 'Playfair Display', serif;
    font-size: 64px;
    font-weight: 600;
}
.h3-sitation{
    background: rgba(26, 8, 8, 0.08);
    backdrop-filter: blur(8px);
    color: rgb(0, 0, 0);
    padding: 18px 0;
    text-align: center;
    padding: 30px;
    font-size: 26px;
    letter-spacing: 2px;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
}
.service1{
    display: flex;
    flex-direction: row;
    padding-top: 100px;
}
.img-materiaux{
    height: 480px;
    width: 480px;

}
.h2-materiaux{
    color: black;
    display: flex;
    align-items: center;
    background: rgba(161, 193, 236, 0.082);
    backdrop-filter: blur(8px);
}
.service2{
    display: flex;
    flex-direction: row-reverse;
    background: rgba(161, 193, 236, 0.082);
    backdrop-filter: blur(8px);
}
.h2-concept{
    color: black;
    display: flex;
    align-items: center;
    padding-right: 60px;
}



